<!DOCTYPE html>
<html>

<head>
    <title>Book List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/booklist.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Book list</h1>
        </div>
        <div class="content">
            <ul>
                {% for book in books %}
                <li>
                    <a href="{% url 'book_detail' book.id %}">
                        {{ book.title }} by {{ book.author }} - {{ book.price }} USD
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>

</html>