<!DOCTYPE html>
<html>

<head>
    <title>Book List</title>
    {% load static %}
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-border">
        <div class="header">
            <h1>Book list</h1>
        </div>
        <div class="content">
            <ul class="book-list">
                {% for book in books %}
                <li class="card-book">
                    <div class="book-image">
                        <img src="{% static 'book_images/' %}{{ book.title|slugify }}.jpg" alt="{{ book.title }}">
                    </div>

                    <div class="book-info">
                        <a href="{% url 'book_detail' book.id %}" class="book-title">
                            {{ book.title }}
                        </a>
                        <p class="book-author">by {{ book.author }}</p>
                    </div>

                    <div class="book-price">
                        <span>{{ book.price }} USD</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>

</html>