<!DOCTYPE html>
<html>

<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="/static/js/cartService.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const storedUsername = localStorage.getItem("username");
            const storedUserId = localStorage.getItem("user_id");

            if (storedUsername && storedUserId) {
                document.getElementById("username-display").textContent = storedUsername;
                document.getElementById("username-display").setAttribute("data-customer-id", storedUserId);
                document.getElementById("logout-link").style.display = "inline";
                document.getElementById("login-link").style.display = "none";
            } else {
                document.getElementById("logout-link").style.display = "none";
                document.getElementById("login-link").style.display = "inline";
            }
        });
    </script>
</head>

<body>
    <div class="navbar">
        <div class="navbar-left">QuickBuy</div>
        <div class="navbar-right">
            <span id="username-display" data-customer-id=""></span>
            <a class="logout-btn" id="logout-link" href="{% url 'logout_user' %}" style="display: none;">Logout</a>
            <a id="login-link" href="{% url 'login_page' %}">Login</a>
        </div>
    </div>

    <div class="container-border">
        <div class="header">
            <h1>Your Shopping Cart</h1>
        </div>
        <div class="content">
            <div id="cart-items"></div>
        </div>
    </div>
</body>

</html>