<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer List</title>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <script src="/static/js/customer_list.js"></script>
</head>

<body>
    <div class="container-list">
        <h2>Customer List</h2>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody id="customer-table-body">
            </tbody>
        </table>
    </div>
</body>

</html>